<div class="appTitle">MOVIES</div>
<div class="searchContainer">
  <input autofocus class="searchBar" type="text" placeholder="Search by Movie Name" 
  [(ngModel)]="searchText" autocomplete="on">
  <div class="button-bar">
      <button class="button" (click)="sortOrder=sortOrder*-1">
          <i [ngClass]="{'descSortIcon':sortOrder==-1}"></i>
          <i [ngClass]="{'ascSortIcon':sortOrder!=-1}"></i>
          Year
      </button>
      <div class="filterButton" >
          <!-- <i class="filterIcon"></i> -->
          <ng-select placeholder="Language" bindLabel="Language" [(ngModel)]="selectedLanguage" class="customSelect">
              <ng-option [value]="language" *ngFor="let language of languages">{{language}}</ng-option>
          </ng-select>
      </div>
      <div class="filterButton">
          <!-- <i class="filterIcon"></i> -->
          <ng-select placeholder="Country" [(ngModel)]="selectedCountry" class="customSelect">
              <ng-option [value]="country" *ngFor="let country of countries">{{country}}</ng-option>
            </ng-select>
      </div>
  </div>
</div>
<div class="movieContainer">
  <div class="movieCard" *ngFor="let movie of moviesData | search : {itemProperty:'movie_title', searchString:searchText}
  | search:{itemProperty:'language', searchString: selectedLanguage} 
  | search:{itemProperty:'country', searchString: selectedCountry}
  | sort: {property: 'title_year', order: sortOrder}">
    <div class="movieTitle">{{movie.movie_title}} <ng-container *ngIf="movie.title_year!=''">({{movie.title_year}})</ng-container></div>

    <div>DIRECTED BY: {{movie.director_name}}</div>
    <div class="tags">
        <span>{{movie.language}}</span>
        <span>{{movie.content_rating}}</span>
    </div>
    <div class="tags">
      {{movie.genres}}
    </div>
    <div class="IMDBlink">
      <a href="{{movie.movie_imdb_link}}" target="_blank">More</a>
    </div>
  </div>
</div>

